.auth__container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbd5e1;
}

.auth__contents{
    width: 40rem;
    padding: 2rem;
    background-color: #ffffff;
}

.form-field{
    border: 1px solid var(--clr-grey);
    width: 100%;
}
.form-field:focus{
    outline: none;
    border: 1px solid var(--clr-grey)
}

.auth__section{
    margin: var(--margin-large) 0;
}

.btn-auth{
    width: 100%;
    background-color: #3b82f6;
    color: #ffffff;
}

.btn-auth:hover{
    background-color: #2563eb;
}

.auth__link{
    display: block;
    text-align: center;
}

.auth__link:hover{
    color: #2563eb;
}

.auth__description{
    margin: var(--margin-medium) 0;
    display: flex;
    align-items: center;
}

.form-checkbox{
    margin-left: 0;
}

.full--container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__btn--container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.error--message{
    color: red;
}

@media only screen and (max-width: 500px) {

    .auth__contents{
        width: 100%;
    }

}