.product-main{
    display: grid;
    grid-template-columns: 25rem 1fr;
}

@media only screen and (max-width: 600px){
    .product-main{
        display: grid;
        grid-template-columns: 1fr;
    }
}