.navbar__container--plain {
    background-color: var(--clr-primary);
    color: var(--text-clr-primary);
    border-bottom: 1px solid black;
}
.navbar__heading-container{
    color: var(--clr-secondary);
}

.navbar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar__item .icon__text{
    font-size: 1.25rem;
    color: var(--clr-dark-grey)
}

.navbar__item a, .navbar__item p{
    color: var(--clr-dark-grey)
}

.navbar__item i{
    cursor: pointer;
    color: var(--clr-dark-grey)
}

.navbar__item:hover a, .navbar__item:hover i{
    color: var(--clr-secondary);
}

.navbar__item:hover{
    border: none
}

.search__container{
    display: flex;
    min-width: 10rem;
    border: 1px solid var(--clr-grey);
    padding: var(--padding-small);
    border-radius: 5px;
}

.search__input{
    border: none;
    padding: var(--padding-small);
    font-size: 1.6rem;
    
}

.search__input:focus{
    outline: none;
}

.navbar__item--cart{
    display: none;
}

.mobile__search__container{
    display: none;
}

.badge--small{
    padding: 0
}

.search__items{
    width: 100%;
    min-height: 4rem;
    max-height: 20rem;
    background-color: #f4f4f5;
    position: absolute;
    display: none;
    margin-top: var(--margin-small);
    padding-top: var(--padding-small);
    z-index: 3;
    overflow-y: auto;
    border: 1px solid var(--clr-grey);
}

.search__items--display{
    display: block;
}

.search__items--mobiledisplay{
    display: none;
}

.search__items--list{
    padding: var(--padding-small);
}

.search__items--list:hover{
    cursor: pointer;
    background-color: var(--clr-grey);
}

.search__items .search__items--list{
    font-weight: 100;
    color: #000000;
}

.navbar__title--mobile a, .navbar__title a{
    color: var(--clr-secondary)
}

@media only screen and (max-width: 900px){
    .search__container{
        display: none;
    }

    .container--80{
        max-width: 100%;
    }

    .mobile__search__container{
        display: flex;
        align-items: center;
        padding: var(--padding-small)
    }

    .mobile__search__container{
        flex-grow: 1;
        border-bottom: 1px solid var(--clr-dark-grey);
    }

    .search__container{
        width: 100%;
    }

    .search__input{
        flex-grow: 1;
    }

    .products-search{
        display: none;
    }

    .search__items--mobiledisplay{
        display: block;
    }

    .search__items{
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px){

    .search__container{
        display: none;
    }

    .navbar__container--plain{
        display: flex;
        flex-direction: row;
    }

    .navbar__container--plain .navbar__list-container{
        display: none;
    }

    .navbar__item a{
        display: none;
    }

    .navbar__item:hover{
        background-color: transparent;
    }
    
    .navbar__heading-container{
        display: none;
    }

    .icon__menu{
        color: var(--clr-secondary);
        font-size: 2.4rem;
        cursor: pointer;
    }

    .mobile__search__container{
        display: flex;
        align-items: center;
        padding: var(--padding-small)
    }

    .mobile__search__container{
        flex-grow: 1;
        border-bottom: 1px solid var(--clr-dark-grey);
    }

    .navbar__item--cart{
        display: block;
        font-size: 2.4rem;
    }

    .navbar__item--cart a{
        color: var(--clr-dark-grey);
    }

    .navbar__container--plain .navbar__menu{
        display: flex;
        align-items: center;
    }

    .navbar__title--mobile{
        margin-left: var(--margin-large);
        color: var(--clr-secondary);
        font-family: var(--font-family-secondary);
    }

}