.filters{
    position: sticky;
    background-color: #ffffff;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filters__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__section{
    border-bottom: 1px solid var(--clr-grey);
    padding: var(--padding-medium)
}

.filter__section--end{
    border: none;
    padding-bottom: 0;
}

.filter__section h3{
    margin-bottom: var(--margin-medium);
}

.filter__view{
    display: none;
}

.slider--price{
    width: 100%;
}

.price--range{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter--clear:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){

    .filters{
        display: none;
        position: relative;
        height: auto;
    }

    .display-filters{
        display: block;
    }

    .filter__view{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-grey);
        padding: var(--padding-medium)
    }
}