.card__image{
    cursor: pointer;
}

.empty-cart--container img{
    max-height: 50vh;
    padding: var(--padding-medium)
}

@media only screen and (max-width: 900px){
    .container--80{
        max-width: 100%;
    }
}